*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.body{
    width: 80%;
    padding: 40px;
    margin:auto;
    box-shadow: 0px 5px 10px 10px gainsboro;
    margin-top: 20px;
    margin-bottom: 20px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #457b9d;
}
.details{
    width: 40%;
    line-height: 1.3;
}
.details h1{
    color: white;
    font-size: 45px;
}
.details h3{
    color: white;
    letter-spacing: 2px;
}
.about{
    margin-top:20px ;
    padding: 40px;
    
}
.about h1{
    font-size: 35px;
}
.about p{
    text-align: justify;
    width: 100%;
    line-height: 25px;
}
.about div{
    margin-top: 10px;
}
.about1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.table{
    margin: 0px 30px;
}

td{
    padding: 5px;   
}
.eduqualify{
    padding: 30px 40px;
}
.eduqualify h1{
    margin-bottom:20px;
}
#table1{
    width: 100%;
}
.eduqualify #table1, th,#td{
  border: 2px solid black;
  border-collapse:collapse;
}
#td{
    text-align: center;
}
th{
    padding: 5px;
}
.proskills{
    padding: 30px 40px;
}
.proskills h1{
    margin-bottom: 10px;
}
.proskills ul{
    padding: 0px 40px;
    line-height: 25px;
}
.workexp,.certify{
    padding: 30px 40px;
}
.workexp h1,.certify h1{
    margin-bottom: 10px;
}
.workexp ul,.certify ul{
    line-height: 25px;
    padding: 0px 40px;
}
button{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: rgb(99, 190, 99);
    font-size:15px;
    color:white;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.int{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
}
.int h1{
    margin-bottom: 10px;
}
.int ul {
    line-height: 25px;

}
.int ul li{
    list-style: none;
    
}
.image{
    width: 200px;
    position: relative;
    top: 50px;
}
.image img{
    height: 200px;
    border: 10px solid white;
    box-shadow:  0px 2px 2px 0px gainsboro; 
}